Source: libtwitcurl
Section: libdevel
Priority: optional
Maintainer: Toni Uhlig <matzeton@googlemail.com>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.5
Homepage: https://github.com/swatkat/twitcurl

Package: libtwitcurl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
