#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
PREFIX=/usr
LIBNAME=twitcurl
LIBTWITCURL_OUTDIR=debian/libtwitcurl/usr
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


# main packaging script based on dh7 syntax
%:
	dh $@

override_dh_auto_clean:
	make -j1 clean LINCLUDE_DIR=$(LIBTWITCURL_OUTDIR)/include LLIBRARY_DIR=$(LIBTWITCURL_OUTDIR)/lib STAGING_DIR=./debian/libtwitcurl AM_UPDATE_INFO_DIR=no

override_dh_auto_build:
	make -j1 LINCLUDE_DIR=$(LIBTWITCURL_OUTDIR)/include LLIBRARY_DIR=$(LIBTWITCURL_OUTDIR)/lib STAGING_DIR=./debian/libtwitcurl AM_UPDATE_INFO_DIR=no

override_dh_auto_install:
	mkdir -p $(LIBTWITCURL_OUTDIR)/include $(LIBTWITCURL_OUTDIR)/lib
#	make -j1 install LINCLUDE_DIR=$(LIBTWITCURL_OUTDIR)/include LLIBRARY_DIR=$(LIBTWITCURL_OUTDIR)/lib STAGING_DIR=./debian/libtwitcurl AM_UPDATE_INFO_DIR=no
#	rm  $(LIBTWITCURL_OUTDIR)/lib/lib$(LIBNAME).so $(LIBTWITCURL_OUTDIR)/lib/lib$(LIBNAME).so.1
	cp lib$(LIBNAME).so.1.0 $(LIBTWITCURL_OUTDIR)/lib/
	cp $(LIBNAME).h $(LIBTWITCURL_OUTDIR)/include/
	sed -i 's/"oauthlib.h"/<oauthlib.h>/g' "$(LIBTWITCURL_OUTDIR)/include/twitcurl.h"
	sed -i 's/"include\/curl\/curl.h"/<curl\/curl.h>/g' "$(LIBTWITCURL_OUTDIR)/include/twitcurl.h"
#	cat "$(LIBTWITCURL_OUTDIR)/include/twitcurl.h" | sed 's/"oauthlib.h"/<oauthlib.h>/g' | sed 's/"include\/curl\/curl.h"/<curl\/curl.h>/g' > "$(LIBTWITCURL_OUTDIR)/include/twitcurl.h"
	cp oauthlib.h $(LIBTWITCURL_OUTDIR)/include/
	ln -sf $(PREFIX)/lib/lib$(LIBNAME).so.1.0 $(LIBTWITCURL_OUTDIR)/lib/lib$(LIBNAME).so.1
	ln -sf $(PREFIX)/lib/lib$(LIBNAME).so.1.0 $(LIBTWITCURL_OUTDIR)/lib/lib$(LIBNAME).so

# debmake generated override targets
# This is example for Cmake (See http://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)




